* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  ;
}

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #111720;
  border: 5px dashed orange;
}

.title {
  font-size: 32px;
  color: #fac650;
  font-family: "Press Start 2P", cursive;
  text-shadow: 0px 0px 4px orange;
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 60px; */
  padding-top: 40px;
}

.player-section {
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
  height: 320px;

  border: 4px solid;


}

.logo {
  height: 60px;
  width: 60px;
}

.selection {
  height: 45px;
  width: 45px;

}

.player-information {
  display: flex;
  justify-content: space-around;
}

.content-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.score {
  color: #f2f2f2;
  margin-top: 20px;
  font-size: 1.3rem;
  margin-left: 40px;
  font-family: "Press Start 2P", cursive;
}

.player-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  min-height: 320px;
}

.player {
  text-align: center;
  color: #fac650;
  font-size: 2rem;
  margin-bottom: 15px;
  text-shadow: 10px 10px 10px black;
  font-family: "Press Start 2P", cursive;
}

.game-selections {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.game-selection {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  margin: 15px;
  box-shadow: 4px 5px 0px black;
  border-bottom: 2px solid;
  border-right: 1px solid;
  transform: translate(-1%, -3%);
}

.game-selection:hover {
  background-color: lightgrey;
  box-shadow: 3px 3px 1px;
  transform: translate(1%, -1%);
  transition: all 0.1s ease-in;
}

.game-selectiontext {
  margin-top: 20px;
}

#game-section {
  background: orange;
  border: 5px dashed black;
}

.score-board {
  background: black;
  height: 17vh;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px dashed orange;
  text-align: center;
}

#result {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Press Start 2P", cursive;
  color: #fac650;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;

}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-title{
  font-size: 40px;
  font-weight: bold;
}

.btn-restart {
  padding: 10px 20px;
  background-color: orange;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}
.btn-restart:hover {
  background-color: #fac650;
}
.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;

}
.overlay.active{
  display: block;
}
