*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family:"Roboto", sans-serif;;
}
.header{
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background:  #111720;
  color: orange;
}

.title{
  font-size: 32px;
  color:  #fac650;
  font-family: "Press Start 2P", cursive;
}
